

body{
    background-color: #F5F5F5;
}

#logo_img
{
    height: 85px;
    width: 200px;
}
#header_div
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;

    background-color: black;
    opacity: 0.8;

}


#header_table
{
    color: #D6C7A6;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 17.6px;
    font-weight: 400;

    margin:  0 auto  ;
}
.table_row
{
    text-align:center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.table_col
{
    margin :0 auto;
    width: 200px;
    font-size: 15px;
}


#body_img_div
{
    text-align: center;

}

#body_img
{
    height: 900px;

}

#bentley_Logo_div
{

    padding-top: 50px;
    padding-bottom: 40px;

    margin:  0 auto  ;
    text-align: center;
}

#bentley_img
{
    padding-top: 30px;

    height: 200px;
    width: 400px;
}

#bentley_Desc
{
    text-align: center;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    color: #000000;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

#top_products_div
{
    padding-top: 50px;
    text-align: center;
}


.card {

    text-align: center;
    width: 240px;
    height: 270px;
    border-radius: 7px;
    display: block;

}





.card:hover
{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;}

.blogcontent
{
    padding-bottom: 50px;



}



.top_imgs
{

    padding : 20px;
    padding-top: 40px;

    width: 250px;
    height:220px;
    min-height:50% ;
    min-width:50% ;
    max-width:90%;
    max-height:90% ;
}



.top_products_col:hover
{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

    background-color: #E9E9E9;
}

.top_names
{
    padding-top: 20px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}
.price_para
{
    font-family: 'Abel', sans-serif;
    padding-bottom: 20px;
    font-size: 18px;
    color: #D7AE4C;
    font-weight: bold;
}

.header_link{
    text-decoration: none ;
    color: #D6C7A6;;
}

.header_link:hover {
    color: #F2F5EB;
    /*text-decoration: underline;*/
}



.btn-primary
{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 20px;
     margin-top: 45px;
    width: 150px;
}
.carousel-control-next-icon , .carousel-control-prev-icon {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}
.carousel-item {
    height: 755px;
}
#advert_div
{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
height: 500px;
    width: 100%;
}
.advert_imgs
{

}






.container2 {
    font-family: "Open Sans", sans-serif;
}
h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 70px;
}
h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    border-radius: 1px;
    background: #1c47e3;
    left: 0;
    right: 0;
    bottom: -20px;
}


/*.carousel {*/
/*    margin: 50px auto;     // size be low ( big slider )              */
/*    padding: 0 70px;*/
/*}*/


.carousel .item {
    color: #999;
    overflow: hidden;
    min-height: 120px;
    font-size: 13px;
}
.carousel .media img {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
}
.carousel .testimonial {
    padding: 0 15px 0 60px ;
    position: relative;
}
.carousel .testimonial::before {
    content: "\201C";
    font-family: Arial,sans-serif;
    color: #e2e2e2;
    font-weight: bold;
    font-size: 68px;
    line-height: 54px;
    position: absolute;
    left: 15px;
    top: 0;
}
.carousel .overview b {
    text-transform: uppercase;
    color: #1c47e3;
}
.carousel .carousel-indicators {
    bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 1px 3px;
}
.carousel-indicators li {
    background: #e2e2e2;
    border: 4px solid #fff;
}
.carousel-indicators li.active {
    color: #fff;
    background: #1c47e3;
    border: 5px double;
}



.container2
{
    padding-top: 200px;
}

.container2 .carousel
{

    margin: 50px auto;
    padding: 0 150px;
}
